@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* App-wide styling */
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: flex;
}

